<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.crowde.toni">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden|adjustPan">
        <activity android:name=".view.main.SelectCustomer"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:name=".view.main.CartList"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:name=".view.login.OpenShop" />
        <activity android:name=".view.notification.TransactionSuccess" />
        <activity android:name=".view.notification.ProductAddSuccess" />
        <activity android:name=".view.notification.PrintLoading" />
        <activity android:name=".view.notification.PrintSuccess" />
        <activity android:name=".view.notification.PaymentSuccess" />
        <activity
            android:name=".view.main.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:name=".view.login.LoginSuccess"
            />
        <activity
            android:name=".view.login.Login"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:name=".view.main.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>